<h1>Johnnygram</h1>

<%= link_to "Create post", new_post_path%>

<div class="posts">
    <% @posts.each do |post|%>
        <section class="post">
        <div><%=post.user.user_name%></div>
        <%=image_tag(post.image)%>
        <%=post.caption%>
        </section>
    <%end%>
</div>